<a href="https://colab.research.google.com/github/sabsabb/Python-Pandas/blob/main/Pandas_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Menyertakan Prefix dan Suffix pada Seluruh Kolom Data Frame**

Persiapan library dan melihat versi yang digunakan

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.5
1.19.5

Persiapan Data Frame

In [3]:
n_rows = 5
n_cols = 5

cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)), columns=cols)
#randint berfungsi untuk mengambil data integer secara random dengan rentang nilai 1-10
df

   A  B  C  D  E
0  8  7  7  2  6
1  9  5  9  1  2
2  9  9  3  9  1
3  2  7  8  2  3
4  5  3  7  3  7

Menyertakan Prefix Kolom

In [5]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        8        7        7        2        6
1        9        5        9        1        2
2        9        9        3        9        1
3        2        7        8        2        3
4        5        3        7        3        7

Menyertakan Suffix Kolom

In [6]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        8        7        7        2        6
1        9        5        9        1        2
2        9        9        3        9        1
3        2        7        8        2        3
4        5        3        7        3        7